{% extends 'stocksub/base.html' %}

{% block content %}

<h1> Welcome to the Stock Price Subscriber</h1>

<p> Please enter the stock ticker and your phone number </p>

{% if form.errors %}
<p> error </p>
{% endif %}

{% load crispy_forms_tags %}
<form method="post" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <div>
        <input type="submit" class="btn btn-outline-dark" name="sendnow" value="Send Now" />
    </div>
    <br/>
    <div>
        <input type="submit" class="btn btn-outline-dark" name="subscribe" value="Subscribe" />
    </div>
    <br/>
    <div>
        <input type="submit" class="btn btn-outline-dark" name="unsubscribe" value="Unsubscribe" />
    </div>
    <br/>
    <div class="container">
        <div class="row">
          <div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Stock Ticker</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Send SMS</th>
                  </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                        <tr>
                            <th scope="row">{{ record.id }}</th>
                            <td>{{ record.ticker }}</td>
                            <td>{{ record.number }}</td>
                            <td><buttont type="button" class="btn btn-outline-dark" value="+record.id+" onClick="getSMS(this.value)">Send Now</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
          </div>
        </div>
      </div>

</form>

{% endblock %}
